# Reddit API
REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_USER_AGENT=reddit-analytics-pipeline/1.0

# AWS
AWS_REGION=ap-south-1
S3_BUCKET_NAME=your-s3-bucket-name

# Pipeline
SUBREDDIT=dataengineering
POST_LIMIT=100
LOG_LEVEL=INFO